/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* Fuentes */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100vw;

  span{
    i{
        // icono
    }
  }

  nav {
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
      li {
      }
    }
  }
}
